<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <i class="bi bi-kanban"></i> ScrumOps
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="teams">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Teams
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backlog">
                <span class="bi bi-list-check" aria-hidden="true"></span> Product Backlog
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sprints">
                <span class="bi bi-calendar-check" aria-hidden="true"></span> Sprints
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-graph-up" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
    </nav>
</div>

